* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: rgb(20, 20, 20);
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  width: 50%;
  min-width: 35rem;
  margin: 1rem auto;
  text-align: left;
}

h2 {
  margin: 2rem 0 0.75rem 0;
  font-weight: 300;
  font-size: 2.5rem;
}

p {
  line-height: 1.25rem;
  color: rgb(175, 175, 175);
}

form {
  background-color: black;
  border-radius: 0.5rem;
}

fieldset {
  border: none;
}

input[type="radio"] {
  width: 1.75rem;
  height: 1.75rem;
  transform: translateY(0.4rem);
  margin-right: 0.75rem;
}

label {
  font-size: 1.25em;
}

/* Hide spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.input-row {
  margin: 0.75rem 0 0.75rem 2.25rem;
}

.input-row p {
  margin: 0.75rem 0 0.75rem 0;
}

fieldset p {
  margin: 0.75rem 0 0.75rem 2.5rem;
}

input[type="number"] {
  height: 2rem;
  border: 2px solid rgb(255, 255, 255, 0.1);
  text-align: right;
  padding-right: 3rem;
  background-color: rgb(255, 255, 255, 0.1);
}

input[type="number"]:focus {
  outline: 2px solid red;
  border-color: red;
}

input[type="number"]:disabled {
  color: transparent;
}

input[type="number"],
.unit {
  font-size: 1rem;
}
.unit {
  position: absolute;
  margin: 0.55rem 0 0 -2.5rem;
  color: rgb(255, 255, 255, 0.5);
}

.strike-through {
  text-decoration: line-through;
  color: rgb(255, 255, 255, 0.25);
}

.material-symbols-sharp {
  font-size: 1rem;
  transform: translateY(0.1rem);
  color: red;
  margin-right: 0.25rem;
}

fieldset,
li {
  padding: 1.5rem;
}

ul {
  list-style-type: none;
}

li {
  border-top: 1.5px solid rgb(40, 40, 40);
  margin-bottom: 0.5rem;
}

h3 {
  font-weight: 300;
  line-height: 0.75rem;
  font-size: 2.5rem;
  color: red;
  margin-bottom: 0.5rem;
}

h4 {
  font-weight: 300;
  line-height: 0.1rem;
  font-size: 1.5rem;
}

.toggle {
  text-align: center;
  margin-top: 1rem;
}

input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}
